/**
 * Zoomable baseline grid
 * type size presets
 */
body {
  /* 16px / 24px */
  font-size: 1em;
  line-height: 1.5em;
}
.small {
  /* 13px / 18px */
  font-size: 0.8125em;
  line-height: 1.3846153846153846em;
}
.normal,
h3 {
  /* 16px / 24px */
  font-size: 1em;
  line-height: 1.5em;
}
#site-slogan {
  /* 20px / 24px */
  font-size:1.375em;
  line-height:1.09090909090909091em;
}
.large,
h2 {
  /* 32px / 36px */
  font-size: 2em;
  line-height: 1.125em;
}
h1,
.huge {
  /* 42px / 48px */
  font-size: 2.625em;
  line-height: 1.1428571428571428em;
}
#site-name,
.massive {
  /* 68px / 72px */
  font-size: 4.25em;
  line-height: 1.0588235294117647em;
}
.gigantic {
  /* 110px / 120px */
  font-size: 6.875em;
  line-height: 1.0909090909090908em;
}
