/**
 * Four-column grid active - default
 * ----------------------------------------
 * Margin   | # 1  2  3  4   | Margin
 * 5.55555% | % 25 50 75 100 | 5.55555%
 */
body {
  padding: 0 5.555555555555555%;
}
p {
  margin:1.5em 0;
}
h1 {
  margin: 0.8571428571428571em 0;
}
h2 {
  margin:1.5em 0em 1.125em;
}
h3 {
  margin: 1.5em 0 1.5em;
}
#sidebar-first,
#sidebar-second {
  width: 100%;
  margin-bottom:1.5em;
}
#colophon {
  clear: both;
}
#logo {
  display: block;
  line-height: 0;
}

/**
 * Simple elastic gutters.
 *
 * Note: box-sizing will not work in IE6-8
 */
.wrapper {
  padding: 0 0.75em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * Fixes for IE6-8
 *
 * @section ie
 * @see Leaving Old IE Behind, http://jonikorpi.com/leaving-old-IE-behind/
 */
.ie body {
  font-size: 1.0625em;
  margin: 0 auto;
  width: 40em;
}
.ie #content {
  padding: 0;
}
.ie #main-menu-links {
  margin-top:1.5em;
}
.ie .view .views-row {
  width:40em;
}
.ie .flex-control-nav {
  bottom:-12px;
}
.ie .flex-direction-nav {
  font-size:0px;
}
.ie .flex-control-nav li {
  line-height:11px;
}
.ie .flex-nav-container {
  padding-bottom:1.5em;
}

/**
 * Basic Typography
 *
 * @section typography
 */
body {
  font-family:"museo", "georgia", serif;
}
h1, h2, h3, h4, h5, h6, #site-name {
  font-family:"league-gothic", "arial", sans-serif;
  font-weight:normal;
}
#site-name {
  margin-bottom:0;
}
#site-slogan {
  font-weight:bold;
}
.wf-loading {
  visibility:hidden;
}
.content ul li {
  margin-left:1.5em;
}
blockquote {
  margin:1.5em;
  font-style:italic;
}

/**
 * Messages styling
 *
 * @section messages
 */
.messages {
  margin:1.5em 0;
  padding: 0.75em;
  border:1px #000 solid;
}
.messages.status {
  margin:1.5em 0;
  padding: 0.75em;
  border:1px #060 solid;
  background: #dfd;
}
.messages.warning {
  border:1px #f93 solid;
  background: #ffd;
}
.messages.error {
  border:1px #600 solid;
  background: #fdd;
}

/**
 * Links and navigation
 *
 * @section navigation
 */
a:link {
  color:#333333;
}
a:hover {
  color:#555555;
}
a:visited {
  color:#777777;
}
a img {
  border:none;
}
#site-name a {
  color:#000;
  text-decoration:none;
}
#main-menu {
  margin-top:1.5em;
}
#main-menu a {
  font-weight:bold;
}
ul.links,
ul.tabs {
  list-style-type:none;
}
ul.links {
  overflow:auto;
}
ul.tabs:after {
  /* Overflow needed for overlapping white border on active tab. */
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
ul.links li {
  float: left;
  margin-left:1em;
}
ul.tabs li {
  float:left;
  margin-left:1em;
  border:1px #000 solid;
  padding:0.375em 0.75em;
  position:relative;
  top:1px;
  background:#fff;
  -webkit-border-top-left-radius: 0.5em;
  -webkit-border-top-right-radius: 0.5em;
  -moz-border-radius-topleft: 0.5em;
  -moz-border-radius-topright: 0.5em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}
ul.tabs li.active {
  border-bottom:1px #fff solid;
}
ul.tabs li.first,
ul.links li.first {
  margin-left:0;
}
ul.tabs {
  border-bottom:1px #000 solid;
}
table th, table td {
  padding:0.3825em 0.75em;
}


/**
 * Node styling
 *
 * @section node
 */
.submitted {
  font-style:italic;
  margin-bottom:1.5em;
}
.node-portfolio-piece .field-label-above {
  margin:0.75em 0;
}

/**
 * Form styling
 *
 * @section form
 */
.form-item, 
.form-actions {
  margin:0.75em 0;
}
.comment-form .form-actions input {
  float:left;
  margin-right:0.75em;
}
.comment-form .filter-help p {
  margin-top:0;
}
.comment-form .filter-guidelines ul {
  list-style-type:none;
}
input.form-text {
  width:100%;
  max-width:20em;
}
input.form-checkbox,
input.form-radio {
  display:inline;
}
.summary {
  display:block;
}
.vertical-tabs-pane {
  margin-top:1.5em;
  padding:0.75em;
}
.form-actions {
  overflow:auto;
  margin:1.5em 0;
}
.form-actions input {
  float:left;
  margin-right:0.75em;
}
fieldset {
  padding:0.75em;
}
fieldset p {
  margin:0 0 1.5em 0;
}
.draggable a.tabledrag-handle {
    cursor: move;
    float: left;
    height: 1.5em;
    overflow: hidden;
    margin-left:0em;
    text-decoration: none;
}
a.tabledrag-handle .handle {
    background: url("/misc/draggable.png") no-repeat scroll 6px 9px transparent;
    height: 13px;
    margin:0;
    padding: 0.42em 0.5em; 
    width: 13px;
}
.field-multiple-drag .tabledrag-changed {
  display:none;
}

/**
 * Block styling
 *
 * @section block
 */
#sidebar-first section.block h1 {
  font-size: 2em;
  line-height: 1.125em;
  margin:1.5em 0em 1.125em;
}

/**
 * Field styling
 *
 * @section field
 */
.field-type-taxonomy-term-reference .field-item {
  display:inline;
  margin-right:0.75em;
}

/**
 * Portfolio styling
 *
 * @section portfolio
 */
.view-aqueduct-portfolio.view-display-id-page .views-field-field-slideshow {
  display:none;
}
.view-aqueduct-portfolio.view-display-id-page .views-field-field-client {
  font-weight:bold;
}
.view-aqueduct-portfolio.view-display-id-page .views-row {
  overflow:auto;
}
.view-aqueduct-portfolio.view-display-id-page .views-row-first {
  margin-top:-3em;
}

/**
 * Slideshow
 *
 * @section slideshow
 */
#flexslider_views_slideshow_aqueduct_portfolio-block li .views-field-title {
  color:#fff;
  background:#000;
}
#flexslider_views_slideshow_aqueduct_portfolio-block li .views-field-title h2 {
  margin:0;
  padding:0.3625em;
}
#flexslider_views_slideshow_aqueduct_portfolio-block li .views-field-title h2 a {
  color:#fff;
  z-index:1500;
}

/**
 * Pager
 *
 * @section pager
 */
ul.pager {
  list-style-type:none;
  overflow:auto;
}
ul.pager li {
  float:left;
  margin:0.75em;
}
ul.pager li.first {
  margin-left:0;
}
ul.pager li.last {
  margin-right:0;
}

/**
 * Home page
 *
 * @section home
 */
.feed-icon img {
  margin:1.5em 0;
}

/**
 * Colophon styling
 * 
 * @section colophon
 */
#colophon {
  margin-bottom:1.5em;
  padding:0.25em 1.5em;
  background: #000;
  color: #ddd;
  -webkit-border-radius: 0.75em;
  -moz-border-radius: 0.75em;
  border-radius: 0.75em;
}
#colophon .block {
  margin:1.5em 0;
}
#colophon a:link {
  color: #999;
}
#colophon a:hover {
  color: #777;
}
#colophon a:visited {
  color: #555;
}
#colophon ul.menu li {
  margin:0;
  list-style-type:none;
}
