/**
 * Eight-column grid active
 * ----------------------------------------------------------------------
 * Margin   | # 1    2    3    4    5    6    7    8   | Margin
 * 5.55555% | % 12.5 25.0 37.5 50.0 62.5 75.0 87.5 100 | 5.55555%
 */
@media screen and (min-width: 45em) {
  body {
    /* Reset baseline grid to 16/16 = 1 */
    font-size: 1em;
  }
  #sidebar-first {
    display: block;
    float: left;
    width: 25%;
  }
  #content {
    display:block;
    float: left;
    width: 75%;
  }
}

@media screen and (min-width: 65em) {
  body {
    /* Reset baseline grid to 16/16 = 1 */
    font-size: 1em;
  }
  #masthead,
  #colophon,
  #secondary-menu,
  #breadcrumb {
    margin-left: 12.5%;
    margin-right: 12.5%;
  }
  #main-menu {
    margin: 1.5em 12.5% 0;
  }
  #sidebar-first {
    display: block;
    float: left;
    width: 25%;
  }
  #content {
    float: left;
    margin-left: 12.5%;
    width: 50%;
  }
}

@media screen and (min-width: 100em) {
  .view-aqueduct-portfolio.view-display-id-page .views-field-field-slideshow {
    display:block;
    float:left;
    margin-right:1.5em;
  }
}
