/*
*
* Sixteen-column grid active
* ----------------------------------------------------------------------------------------------------------------------
* Margin   | # 1    2    3     4    5     6    7     8    9     10   11    12   13    14   15    16  | Margin
* 5.55555% | % 6.25 12.5 18.75 25.0 31.25 37.5 43.75 50.0 56.25 62.5 68.75 75.0 81.25 87.5 93.75 100 | 5.55555%
*
*
*/
@media screen and (min-width: 90em) {
  #masthead,
  #colophon,
  #secondary-menu,
  #breadcrumb {
    margin-left: 18.75%;
    margin-right: 18.75%;
  }
  #main-menu {
    margin: 1.5em 18.75% 0;
  }
  #sidebar-first {
    display: block;
    float: left;
    width: 18.75%;
  }
  #content {
    float: left;
    margin-left: 18.75%;
    width: 43.75%;
  }
}
